{% extends 'base.html' %}


{% block content %}
<h1>SticthCraft Shop</h1>

<div class="row">
  
    {% for crochet in crochet %}
    
        <div class="col">
        
        <div class="card" style="width: 18rem;">
            <img src="{{ crochet.image }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ crochet.name }}</h5>
              <p class="card-text">₱{{ crochet.price }}</p>
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
    {% endfor %}

{% endblock %}